@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background: #eeeeee;
}

#bodyPanos{
    background: #0085ff;
}

.header img{
    width: 110px;
    height: 47px;
}
.header h3{
    color: rgba(255, 0, 0, 0);
}

#perfil{
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}
#perfil:houver{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.header{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.boasVindas{
    margin: 10px;
    max-width: 800px;
    text-shadow: 5px 5px 1px #ffffff53;
    margin-bottom: 90px;
}

.carrosel{
    max-width: 800px;
    margin: auto;
}
.carrosel2{
    width: 100%;
    aspect-ratio: 16/9;
}

.swiper {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.167);
    border-radius: 15px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .autom{
      margin-top: 150px;
      max-width: 800px;
      margin: auto;
      /*background: red;*/
  }

  .autom1 {
   /* background: blue;*/
    display: flex;
    flex-wrap: wrap;
  }

  .autom1 h1{
      text-align: center;
  }
  .autom1 h2{
    text-align: center;
}
  .autom1 > div{
      flex: 1 0 120px;
      background: #ffffff;
      box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.167);
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      cursor: pointer;
  }
  #colorGrad{
      color: #ffffff;
      background-image: linear-gradient(
        to bottom right,
         #9929ea 0%, #5808fb 40%, #bc4e9c 60%, #f8286f 100%);
      background-size: 200% 200%;
      animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient{
      from {background-position: 0 0;}
      to   {background-position: 100% 100%;}
  }

  .menuBaixo{
      position: fixed;
      width: 100%;
      bottom: 0;
  }

  .menuBaixo2{
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      margin: 5px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
      border-radius: 15px;
      display: flex;
      justify-content: space-around;
      border: 1px solid #ffffff89;
  }

  .menuBaixo2 img{
      width: 30px;
      height: 30px;
      transition: all 0.5s;
    cursor: pointer;
  }
  .menuBaixo2 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  #selecionado{
      border-bottom: 3px solid #5808fb;
      background: #FFFFFF;
      border-radius: 5px;
  }

  .tTituloM{
      text-align: center;
  }
  .tTituloB{
    text-align: center;
    color: white;
}
  .tenha{
      /*background: blue;*/
      max-width: 800px;
      margin: auto;
      padding: 5px;
  }
  .tenha1{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
  }

  iframe{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.167);
  }

  .sPlanos{
      max-width: 800px;
      margin: auto;
      padding: 10px;
  }

  .splanos2 img{
      width: 90px;
  }

  .splanos2{
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr;
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 15px;
  }

  #planoImg{
      background: #9929ea;
      text-align: center;
      align-items: center;
      padding: 10px;
      transition: all 0.5s;
        cursor: pointer;
        border-radius: 15px;
  }

  #planoImg:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  #planosTexto{
      background: #0085ff;
      padding: 10px;
      text-align: center;
      border-radius: 15px;
      color: #ffffff;
  }

  .auto{
    max-width: 800px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../arquivos/imagens/automação.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .auto1{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.468);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  }

  .auto1 a{
      background: #0085ff;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 15px;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10px;
  }

  /*====== Planos ======*/

  .planosDis{
      max-width: 800px;
      margin: auto;
      color: white;
      text-align: center;
  }
  .planosDis p{
      margin-top: -5px;
      cursor: pointer;
  }

  .planosFlex{
      max-width: 850px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
  }

  .planosFlex > div{
      flex: 1 0 150px;
      color: white;
      margin: 10px;
      background: #23374d;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
  }

  .conecGe p{
      background: #ffffff;
      color: black;
      padding: 5px;
      border-radius: 15px;
      cursor: pointer;
  }

  /*====== Planos ======*/

  /*======= popup ========*/
.info{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1 p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1 h3{
    text-align: center;
}

.infofecha{
    background: #db1d4b;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#fecha{
    border: 1px solid white;
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

/*======= popup ========*/

/*========== POU UP BASICO ============*/

.infoB{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1B{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1B p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1B h3{
    text-align: center;
}

/*========== POU UP BASICO ============*/

/*==== Completo ======*/

.infoC{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1C{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1C p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1C h3{
    text-align: center;
}
/*==============*/

.infoD{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1D{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1D p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1D h3{
    text-align: center; 
}

/*================*/

.siteApp{
    margin: auto;
    margin-top: 100px;
    max-width: 590px;
    height: 200px;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    border-radius: 15px;
}

#appum video{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#appdois{
    background: #db1d4b;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*====== aréa popup ======*/

.tomac{
    display: none;
    overflow: auto;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.tomac1 img{
    width: 100px;
}
.tomac1{
    background: #ffffff;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
}
.tomacFechar{
    background: red;
    color: white;
    padding: 4px;
    border-radius: 15px;
}

/*==============*/
.perfilUser img{
    width: 150px;
}
.perfilUser h2{
    margin-top: -3px;
}

.perfilUser{
    display: none;
    overflow: auto;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.perfilUser1{
    background: #ffffff;
    max-width: 400px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
}
#tNome{
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    border-radius: 15px;
    outline: 0;
}
#cSenha{
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    border-radius: 15px;
    outline: 0;
}

.confirmarEnter p{
    background: #0085ff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 3px 3px 3px #0084ff5d;
    cursor: pointer;
}

.cancelarSair p{
    margin-top: 15px;
    background: red;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.379);
    cursor: pointer;
}

/*====== mini site ======*/

.minisitegage{
    display: none;
    overflow: auto;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.minisitegage2 img{
    width: 150px;
}
.minisitegage2{
    background: #ffffff;
    max-width: 450px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
}

.vsntagem{
    text-align: left;
}

.minisitegage2 img{
    width: 150px;
}

/*====== mini site ======*/

/*====== aréa popup ======*/

.planosApp{
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
}
.planosApp h2{
    text-align: center;
}
#appSubT{
    text-align: center;
}

.appnegoci p{
    background: #0085ff;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: 15px;
    color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    cursor: pointer;
}

.miniSiteG{
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);

}

.miniSiteG h2{
    text-align: center;
}

/*==============*/


  @media(max-width: 600px){

    .splanos2{
        display: block;
        grid-template-columns: none;
        width: 100%;
        border: 1px solid black;
        border-radius: 15px;
      }
    #planoImg{
        display: none;
    }
    #planosTexto{
        margin: auto;
        width: auto;
        filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    }
    .auto{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .planosDis{
        margin: 15px;
    }
    .tomac1{
        margin: 10px;
        margin-top: 50%;
    }
    .perfilUser1{
        margin: 10px;
        margin-top: 20%;
    }
    .minisitegage2{
        margin: 10px;
        margin-top: 20%;
    }
    .planosApp{
        margin: 10px;
    }
    .miniSiteG{
        margin: 10px;
    }
  }