@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(#9929ea, #5808fb);*/
    background: #ffffff;
    font-family: 'Fredoka', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#body2{
    background: #191c6d;
}

.gus img{
    width: 150px;
}

.gus{
    margin: auto;
    margin-top: 10%;
    max-width: 500px;
    height: 300px;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.entar{
    color: black;
    background: linear-gradient(#0dccff, #4760ff);
    padding: 1px; 
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.entar:hover{
    padding-left: 80px;
    padding-right: 80px;
}

.entar p {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* parte do menu*/

.header img{
    width: 150px;
}

a{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
a:hover{
    background: rgba(0, 0, 0, 0.303);
}

.header{
    background: white;
    display: flex;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.338);
}
.menu{
    
    display: flex;
    list-style: none;
    gap: .5rem;
}

.menu a{
    display: block;
    padding: .5rem;
}

#sant{
    margin-right: 30px;
    margin-left: 360px;
}
#gratis{
    background: #8E72DC;
    border-radius: 2px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

#btn-mobile{
    display: none;
}

/*Footer*/


.footer{
    background: #3F4A52;
    padding: 20px;
    color: white;
}
.footer > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primeiro{
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: 1px solid #E5E5E5;
}
.primeiro p{
    display: block;
    padding: .5rem;
}

#affst{
    margin-right: 45px;
    color: rgba(255, 0, 0, 0);
}

#affst2{
    margin-right: 45px;
    color: rgba(255, 0, 0, 0);
}

#anima1 img{
width: 23px;

transition: all 0.5s;
cursor: pointer;
}
#anima1 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.grupo1{
    display: flex;
}
#pago{
    width: auto;
    margin: auto;
}

.EmBranco{
    padding-top: 300px;
    padding-bottom: 300px;
}

/*parte do menu*/

.fer{
    display: none;
    background: rgba(0, 0, 0, 0.715);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2000;
}
.fer1{
    margin: auto;
    margin-top: 10%;
    max-width: 500px;
    height: 300px;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.fercont{
    background: #0dccff;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.ferFechar{
    background: rgba(255, 0, 0, 0.694);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}


/*==== CAPA =======*/

.capa{
    background: #132743;
    color: #ffffff;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.27);
}

.capa img{
    width: 200px;
}

#parteDois{
    border-radius: 15px;
    margin-right: 20px;
    text-align: center;
}
/*==== CAPA =======*/

/*==============*/

#tTitulos{
    color: #132743;
    margin-top: 100px;
    text-align: center;
}

#tTitulos2{
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1090px;
    margin: auto;
}
.flex p{
    text-align: left;
}

.flex > div{
    background: #132743;
    flex: 1 0 150px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.27);

    transition: all 0.5s;
    cursor: pointer;
}

.flex > div:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}

#tTituloFlex{
    background: #db1d4b;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 15px;
}

/*=============*/

/*======= popup ========*/
.info{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1 p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1 h3{
    text-align: center;
}

.infofecha{
    background: #db1d4b;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#fecha{
    border: 1px solid white;
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

/*======= popup ========*/

/*========== POU UP BASICO ============*/

.infoB{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1B{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1B p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1B h3{
    text-align: center;
}

/*========== POU UP BASICO ============*/

/*==== Completo ======*/

.infoC{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1C{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1C p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1C h3{
    text-align: center;
}

/*==============*/

.infoD{
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.info1D{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.29);
}

.info1D p, h3{
    margin: 10px;
    margin-bottom: 15px;
}

.info1D h3{
    text-align: center;
}

/*================*/

.siteApp{
    margin: auto;
    margin-top: 100px;
    max-width: 590px;
    height: 200px;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    border-radius: 15px;
}

#appum video{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#appdois{
    background: #db1d4b;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*=============*/

  /*====Aplicativos =====*/

  .aplic img{
      width: 100%;
  }

  .aplic{
      background: #212129;
      display: flex;
      flex-wrap: wrap;
      color: white;
  }

  .aplic > div{
      max-width: 600px;
  }

  .conhecerApp{
      text-align: center;
      align-items: center;
      margin: auto;
      background-image: linear-gradient(to right, #4f809d, #3957ed);
      box-shadow: 1px 1px  5px rgba(255, 255, 255, 0.27);
      padding: 10px;
      border-radius: 15px;
      margin-left: 50px;
      margin-right: 50px;
      cursor: pointer;
      transition: .5s;
  }

  .conhecerApp:hover{
    transition: .5s;
    background-image: linear-gradient(to right, #3957ed, #4f809d);
  }


  /*====Mine site======*/

  .gusTa{
    margin-bottom: 200px;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    padding-bottom: 150px;
    margin: auto;
  }
.ferSant{
    text-align: center;
    background: #067eed;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}
.ferSant:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.ferSant p{
    margin: 10px;
}

.ferImg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../arquivos/imagens/mulher.jpg);
    background-size: cover;
    background-position: center;
}

.grupImg img{
    width: 40px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.grupImg img:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.SantGG{
    margin: auto;
    text-align: center;
}
.SantGG p{
    color: #212129;
}

#local{
    background: white;
    padding: 5px;
    border-radius: 15px;
}

   /*====Mine site======*/

   /*=====SitesGage=====*/

   .siteCapa{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
   }

   .siteCapa >div{
       flex: 1 1 250px;
   }

   .siteCapa img{
    width: 100%;
}

#planosDeSites{
    background: white;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

.menorSite{
    max-width: 400px;
    background: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.215);
}
.menorSite P{
    text-align: left;
}
.menorSite a{
    background: #067eed;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
   /*=====SitesGage=====*/

  footer{
      background: black;
      color: white;
      display: flex;
      justify-content: center;
      padding: 20px;
      flex-wrap: wrap;
  }
  footer p{
      margin: 10px;
      cursor: pointer;
  }
    
@media(max-width: 1090px){

    .onteiner{
        
    }

    .flex{
        display: flex;
        flex-wrap: nowrap;
        padding: 30px;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }
    .flex > div{
        /*position: relative;*/
        flex: 1 0 270px;
        margin-left: 20px;
        scroll-snap-type: start;
    }
    .flex > div:hover{
        -webkit-transform: scale(0.1);
        transform: scale(1.1);
    }
}

/*@media(max-width: 1500px){

}*/

@media(max-width: 900px){
    #sant{
        margin-right: 10px;
        margin-left: 80px;
    }
    .aplic > div{
        margin: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
}


@media(max-width: 800px){
    .gus{
        margin: 10px;
        margin-top: 35%;
    }

    #gratis{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        margin-top: 10px;
        border-bottom: none;
    }
    #sant{
        margin-right: 1px;
        margin-left: 1px;
        padding: 1rem 0;
        margin: 0 1rem;
    }
    .menu{
        background: white;
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.131);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        width: 20px;
        border-top: 2px solid;
        display: block;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /*Fim menu*/

/*incio footer*/
    #santos01{
        display: none;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }

    .primeiro{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
    .primeiro p{
        padding: 5px;
    }
    .grupo1{
        position: relative;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*background: firebrick;*/
        margin: auto;
    }

    #pago{
        width: auto;
        margin: auto;
    }
    .anima1{
        margin-left: 50px;
    }
    .fer1{
        margin: 10px;
        margin-top: 25%;
    }

    /*============*/
    .capa{
        background: #132743;
        color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 15px;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.27);
    }
    #parteDois{
        margin: auto;
    }

    .infoB{
        overflow: auto;
    }

    .info1{
        margin: 10px;
        margin-top: 5%;
    }

    .siteApp{
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        background: #db1d4b;
        width: auto;
        margin-top: 100px;
        height: auto;
        grid-template-columns:none;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.674);
    }

    /*====== SITE BASICO ========*/

    .infoB{
        overflow: auto;
    }

    .info1B{
        margin: 10px;
        margin-top: 5%;
    }

    /*==========*/

    .infoC{
        overflow: auto;
    }

    .info1C{
        margin: 10px;
        margin-top: 5%;
    }

    /*====== SITE BASICO ========*/

    .infoD{
        overflow: auto;
    }

    .info1D{
        margin: 10px;
        margin-top: 5%;
    }

    /*=============*/

    #appum video{
        width: 100%;
        border-radius: 15px;
    }
    
    #appdois{
        background: #db1d4b;
        text-align: center;
        color: #ffffff;
        
        align-items: center;
        padding: 10px;
        margin: auto;
    }
    .aplic > div{
        margin: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
    #tTextodiv{
        text-align: center;
        margin: 10px;
    }
}
